.container
  = form_tag '/login' do
    = label_tag 'username', nil, :autofocus => true
    = text_field_tag 'username'
    = label_tag 'password'
    = text_field_tag 'password'
    .br
    = submit_tag 'Login', :class => 'btn btn-primary'
